var lat = -23.697752;
var lng = 133.880067;
var globalMap;


$(document).ready(function () {

  getDefaultMapValues();


    //This code toggles navbar button selection
  $("#search-by-tag").addClass("active")
  $("#search-by-instagram").addClass("active")
  $(".btn-group > .btn").click(function(){
    $(this).addClass("active").siblings().removeClass("active");
  });



});

var globalInfo;

function getDefaultMapValues() {
  $.ajax({
    url: 'hub',
    type: 'GET',
    dataType: 'json',
    success: function (hubInfo) {
      getLocation(hubInfo);
    }
  });
};


function getLocation(hubInfo) {

  if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition (
        function (showPosition) {

          var currPosLat = showPosition.coords.latitude;
          var currPosLng = showPosition.coords.longitude;

          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: {lat: lat - 10, lng: lng}
          });
          map.set('styles', mapStyles);
          //Send hub data (lat and lng) to make request in instagram api
          _.each(hubInfo, function (hubData) {
      //    setInterval(function () {
      //      dataRequest(map, hubData.latitude, hubData.longitude);
      //    }, 5000);
            dataRequest(map, hubData.latitude, hubData.longitude);
          });
        },
        function(error) {
          switch (geoPositionError.code) {
              case 0: // UNKNOWN_ERROR
                  alert('An unknown error occurred, sorry');
                  break;
              case 1: // PERMISSION_DENIED
                  alert('Permission to use Geolocation was denied');
                  break;
              case 2: // POSITION_UNAVAILABLE
                  alert("Couldn't find you...");
                  break;
              case 3: // TIMEOUT
                  alert('The Geolocation request took too long and timed out');
                  break;
              default:
          }
        });
  } else {
      console.log("Geolocation is not supported by this browser.");
  }

};

function dataRequest(map, lat, lng) {
  $.ajax('//api.instagram.com/v1/media/search/?', {
      type: 'GET',
      dataType: 'jsonp',
      data: {
        count: 20,
        lat: lat,
        lng: lng,
        access_token: "<%= ENV['access_token'] %>"
      },
      success: function(info) {
        if (info.hasOwnProperty('data') && info.data.length > 0) {
          var instPosts = [];

          // globalInfo = info.data // Harry's data, I don't fuck with data, that fucks with people that I dont fuck with, remember this.
          _.each(info.data, function (itemRecord) {
            // _.omit || _.permit // This will be how we could turn the data we use into an object later so its more readable and clean in the future // From jack
            instPosts.push([itemRecord.location.latitude, itemRecord.location.longitude, itemRecord.link, itemRecord.images.thumbnail.url]);
          });
          setInstPostMarkers(map, instPosts);
        } //Else no photos show
      }
  });
};



function setInstPostMarkers(map, instPosts) {
  var markers = [];
  var k = 0;

  _.each(instPosts, function (eachPost, i) {
    setTimeout (function () {
    var image = {
      url: eachPost[3],
      scaledSize: new google.maps.Size(64, 64),
    };

    var pos = new google.maps.LatLng(eachPost[0], eachPost[1]);

    for (var j = 0; j < markers.length; j++) {
      if (i != j && pos.equals(markers[j].getPosition())) {
          var newLat = pos.lat() * (Math.random() * 0.0002 + 1);
          var newLng = pos.lng() * (Math.random() * 0.00003 + 1);
          pos = new google.maps.LatLng(newLat, newLng);
      }
    }

    var marker = new google.maps.Marker({
      position: pos,
      map: map,
      icon: image,
      animation: google.maps.Animation.DROP,
      zIndex: 2,
      title: eachPost[2],
      optimized: false      //To allow marker custom in css
    });

    // Apply custom css for marker
    var myoverlay = new google.maps.OverlayView();
    myoverlay.draw = function () {
      this.getPanes().markerLayer.id='markerLayer';
    };
    myoverlay.setMap(map);

    var embed = eachPost[2];
    embed = embed.match(/\/p\/(.*)\//)[1]
    // var content = '<div class="infowindow-content"><blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">If only Bradley&#39;s arm was longer. Best photo ever. <a href="https://twitter.com/hashtag/oscars?src=hash">#oscars</a> <a href="http://t.co/C9U5NOtGap">pic.twitter.com/C9U5NOtGap</a></p>&mdash; Ellen DeGeneres (@TheEllenShow) <a href="https://twitter.com/TheEllenShow/status/440322224407314432">March 3, 2014</a></blockquote></div>';
    var content = '<iframe class="media" src="//www.instagram.com/p/' + embed + '/embed/?v=6">'+ '</iframe>'; // iFrame to style

    var infowindow = new google.maps.InfoWindow({ // This is the info box colin was talking about
      content: content
    });
    google.maps.event.addListener(infowindow, 'domready', function () {
        ! function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
          }(document, "script", "twitter-wjs");
        });
    // Click event on Instagram Image
    google.maps.event.addListener(
        marker, 'click',
        function() {
          infowindow.open(map,marker);
          map.setZoom(15);
          map.setCenter(pos);
    });

    google.maps.event.addListener(infowindow,'closeclick',function(){
      map.setZoom(4);
      map.setCenter({lat: lat - 10, lng: lng});
    });
    google.maps.event.addListener(map, 'click', function() {
      infowindow.close();
    });
  }, i * 400);
  });
}