var lat = -23.697752;
var lng = 133.880067;
var globalMap;



$(document).ready(function () {

  getDefaultMapValues();

  $("#search-by-tag").addClass("active")
  $(".btn-group > .btn").click(function(){
    $(this).addClass("active").siblings().removeClass("active");
  });
});

//Defining which search param is selected:
var searchParam = 'tag'




var globalInfo;

function getDefaultMapValues() {
  $.ajax({
    url: 'hub',
    type: 'GET',
    dataType: 'json',
    success: function (hubInfo) {
      getLocation(hubInfo);
    }
  });
};


function getLocation(hubInfo) {

  if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition (
        function (showPosition) {
          //Set map to Australia
          window.currPosLat = showPosition.coords.latitude;
          window.currPosLng = showPosition.coords.longitude;
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: {lat: lat - 10, lng: lng}
          });
          map.set('styles', mapStyles);
          //Send hub data (lat and lng) to make request in instagram api
          //** _.each(hubInfo, function (hubData) {
          //**  dataRequest(map, hubData.latitude, hubData.longitude);
          //** });

        /** TEMPORARY SHOW ONE RECORD **/
          console.log("hubInfo-Lat: ", hubInfo[0].latitude);
      //    setInterval(function () {
            dataRequest(map, hubInfo[0].latitude, hubInfo[0].longitude);
      //    }, 5000);
        },
        function(error) {
          switch (geoPositionError.code) {
              case 0: // UNKNOWN_ERROR
                  alert('An unknown error occurred, sorry');
                  break;
              case 1: // PERMISSION_DENIED
                  alert('Permission to use Geolocation was denied');
                  break;
              case 2: // POSITION_UNAVAILABLE
                  alert("Couldn't find you...");
                  break;
              case 3: // TIMEOUT
                  alert('The Geolocation request took too long and timed out');
                  break;
              default:
          }
        });
  } else {
      console.log("Geolocation is not supported by this browser.");
  }

};

initAutocomplete();


function dataRequest(map, lat, lng) {
  $.ajax('//api.instagram.com/v1/media/search/?', {
      type: 'GET',
      dataType: 'jsonp',
      data: {
        distance: 5000,
        count: 100,
        lat: lat,
        lng: lng,
        access_token: "<%= ENV['access_token'] %>"
      },
      success: function(info) {
        if (info.hasOwnProperty('data') && info.data.length > 0) {
          var instPosts = [];
          _.map(info.data, function (itemRecord) {
            instPosts = [itemRecord.location.latitude, itemRecord.location.longitude, itemRecord.link, itemRecord.images.thumbnail.url];
          });
          setInstPostMarkers(map, instPosts);
        } //Else no photos show
       }
  });
};



function setInstPostMarkers(map, instPosts) {
  var markers = [];
    var image = {
      url: instPosts[3],
      scaledSize: new google.maps.Size(64, 64),
    };

    var pos = new google.maps.LatLng(instPosts[0], instPosts[1]);
    for (var j = 0; j < markers.length; j++) {
      if (i != j && pos.equals(markers[j].getPosition())) {
          var newLat = pos.lat() * (Math.random() * 0.0002 + 1);
          var newLng = pos.lng() * (Math.random() * 0.00003 + 1);
          pos = new google.maps.LatLng(newLat, newLng);
      }
    }
    var marker = new google.maps.Marker({
      position: pos,
      map: map,
      icon: image,
  //  animation: google.maps.Animation.BOUNCE,
      zIndex: 2,
      title: instPosts[2],
      optimized: false      //To allow marker custom in css
    });

    // Apply custom css for marker
    var myoverlay = new google.maps.OverlayView();
    myoverlay.draw = function () {
      this.getPanes().markerLayer.id='markerLayer';
    };
    myoverlay.setMap(map);

    var embed = instPosts[2];
    embed = embed.match(/\/p\/(.*)\//)[1]
    // var content = '<div class="infowindow-content"><blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">If only Bradley&#39;s arm was longer. Best photo ever. <a href="https://twitter.com/hashtag/oscars?src=hash">#oscars</a> <a href="http://t.co/C9U5NOtGap">pic.twitter.com/C9U5NOtGap</a></p>&mdash; Ellen DeGeneres (@TheEllenShow) <a href="https://twitter.com/TheEllenShow/status/440322224407314432">March 3, 2014</a></blockquote></div>';
    var content = '<iframe src="//www.instagram.com/p/' + embed + '/embed/?v=6">'+ '</iframe>';

    var infowindow = new google.maps.InfoWindow({
      content: content
    });
    google.maps.event.addListener(infowindow, 'domready', function () {
        ! function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
          }(document, "script", "twitter-wjs");
        });
    // Click event on Instagram Image
    google.maps.event.addListener(
        marker, 'click',
        function() {
          infowindow.open(map,marker);
          map.setZoom(15);
          map.setCenter(pos);
          console.log(marker);
          //showEmbed(this.link);
    });

    google.maps.event.addListener(infowindow,'closeclick',function(){
          map.setZoom(4);
    });
    google.maps.event.addListener(map, 'click', function() {
          infowindow.close();
    });
  markers.push(marker);
}