var globalInfo;

function setToTagsResultPage(instPosts) {
  $('.-right').addClass('-on');
  $('#results').empty();

  _.each(instPosts, function (eachPost,i) {

    var result;
    if (eachPost.location){
      $('#results').append('<li><a class="internal" data-link= "' + eachPost.link + '" data-latitude="' + eachPost.location.latitude + '" data-longitude="' + eachPost.location.longitude + '"data-url="' + eachPost.images.thumbnail.url +'" href="' +i+ '"><img src="' + eachPost.images.thumbnail.url+ '"> </a></li>');
    } else {
      $('#results').append('<li><a class="external" href="' + eachPost.link + '" target="_blank"><img src="' + eachPost.images.thumbnail.url+ '"></a></li>');
    }
 });
}

function receiveTagData (info, success) {
  if (success === "FAIL") {
    $('#messageModal').modal('show');
    return;
  }
  // debugger;
  $('#messageModal').modal('hide')

  if (info.hasOwnProperty('data') && info.data.length > 0) {
    var instPosts = [];
    globalInfo = info.data;
    _.each(info.data, function (itemRecord) {
      if (itemRecord.location) {
        instPosts.push([itemRecord]);
      }
    });
    setToTagsResultPage(info.data);
    loopData(globalInfo); // This is where I populate my chart data varables
    chartLoad(); // This is when i load the data into the chart and the chart onto the info page
  } else {
    $('#messageModal').modal('show');
  }
}


$(document).ready( function () {

  function setSpecificPostMarker(clickElement) {
    var $a = $(clickElement).closest('a');
    var link = $a.data('link');
    var latitude = $a.data('latitude');
    var longitude = $a.data('longitude');
    var imageUrl = $a.data('url');

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 2,
      center: {lat: lat - 10, lng: lng}
    });
    map.set('styles', mapStyles);

    var markers = [];

    var image = {
      url: imageUrl,
      scaledSize: new google.maps.Size(64, 64),
    };

    var pos = new google.maps.LatLng(latitude, longitude);
    for (var j = 0; j < markers.length; j++) {
      if (eachPost != j && pos.equals(markers[j].getPosition())) {
          var newLat = pos.lat() * (Math.random() * 0.0002 + 1);
          var newLng = pos.lng() * (Math.random() * 0.00003 + 1);
          pos = new google.maps.LatLng(newLat, newLng);
      }
    }

    var marker = new google.maps.Marker({
      position: pos,
      map: map,
      icon: image,
      zIndex: 2,
      title: link,
      optimized: false      //To allow marker custom in css
    });

    // Apply custom css for marker
    var myoverlay = new google.maps.OverlayView();
    myoverlay.draw = function () {
       this.getPanes().markerLayer.id='markerLayer';
    };

    myoverlay.setMap(map);

    var embed = link;
    embed = embed.match(/\/p\/(.*)\//)[1]

    var content = '<iframe class="media" src="https://www.instagram.com/p/' + embed + '/embed/?v=6">' + '</iframe>';

    var infowindow = new google.maps.InfoWindow({
      content: content
    });

    infowindow.open(map,marker);
    map.setZoom(16);
    map.setCenter(pos);
    $('.-right').removeClass('-on');

    // Click event on Instagram Image
    google.maps.event.addListener(
        marker, 'click',
        function() {
          infowindow.open(map,marker);
          map.setZoom(16);
          map.setCenter(pos);
    });
    google.maps.event.addListener(infowindow,'closeclick',function(){
          map.setCenter({lat: lat - 10, lng: lng});
          map.setZoom(2);
    });
    google.maps.event.addListener(map, 'click', function() {
          infowindow.close();
    });
    markers.push(marker);
  }

  $("#results").on('click', 'a.internal', function (e) {
    e.preventDefault();
    setSpecificPostMarker(e.target);
  });

  $('#results').on('click', 'a.external', function (e) {
      e.preventDefault();
      window.open(this.getAttribute('href'), '_blank');
  });


  //Get form contents
  $("#search-bar").on('submit', function (e) {
    e.preventDefault();
    searchVal = $('#searchValue').val();
    if ( $('#search-by-instagram').hasClass("active") ) {
      if ( $("#search-by-tag").hasClass("active") ) {
        searchByTagName(searchVal);
      } else if ( $("#search-by-location").hasClass("active") ) {
        searchByLocation(searchVal);
      } else {
        searchByUserName(searchVal);
      }
    } else {
      // console.log("twi");
      twitterSearch(searchVal)
    }

    function searchByLocation(searchVal) {
      mapSearch();
    }

    function searchByTagName(searchVal) {
      var ajaxComplete = true;
      $.ajax('//api.instagram.com/v1/tags/' + searchVal + '/media/recent?', {
          type: 'GET',
          dataType: 'jsonp',
          timeout: 3000,
          jsonpCallback: 'receiveTagData',
          data: {
            access_token: "<%= ENV['access_token'] %>"
          }
       }).fail(function (data) {
        receiveTagData(data, "FAIL");
       });
    }


    function searchByUserName(searchVal) {
      $.ajax('//api.instagram.com/v1/users/search?', {
          type: 'GET',
          dataType: 'jsonp',
          data: {
            q: searchVal,
            access_token: "<%= ENV['access_token'] %>"
          },
          success: function(userInfo) {
            if (userInfo.hasOwnProperty('data') && userInfo.data.length > 0) {
              var usersList = [];
              console.log(userInfo.data);
              _.each(userInfo.data, function (userItemRecord) {
                if (userItemRecord.full_name) {
                  usersList.push([userItemRecord.id, userItemRecord.username, userItemRecord.full_name]);
                }
              });
              setToUsersResultPage(usersList);
            } //Else no photos show
          }
      });
    }

    function setToUsersResultPage(usersList) {
      $('.-right').addClass('-on');
      $('#results').empty();
      _.each(usersList, function (eachUser) {
        $('#results').append('<li><a id= "' + eachUser[0] + '" href="' +eachUser[0]+ '">' + eachUser[1] + ' (' + eachUser[2] + ')</a></li>');
      });
      linkUserInstActivities();
    }

    function linkUserInstActivities() {
      $("#results a").on('click', function (e) {
        e.preventDefault();
        $('.-right').removeClass('-on');
        $.ajax('//api.instagram.com/v1/users/' + this.id + '/media/recent/?', {
            type: 'GET',
            dataType: 'jsonp',
            data: {
              access_token: "<%= ENV['access_token'] %>"
            },
            success: function(userInfo) {
              var instPosts = [];
              _.each(userInfo.data, function (itemRecord) {
                if (itemRecord.location) {
                  instPosts.push(itemRecord);
                }
              });
              if (instPosts.length > 0){
                $('#messageModal').modal('hide');
              } else {
                $('#messageModal').modal('show');
              }
              setInstPostMarkers(instPosts);
            }
        });
      });
    }

    function setInstPostMarkers(instPosts) {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 2,
        center: {lat: lat - 10, lng: lng}
      });
      map.set('styles', mapStyles);
      var markers = [];
      _.each(instPosts, function (eachPost) {
        var image = {
          url: eachPost.images.thumbnail.url,
          scaledSize: new google.maps.Size(64, 64),
        };

        var pos = new google.maps.LatLng(eachPost.location.latitude, eachPost.location.longitude);

        for (var j = 0; j < markers.length; j++) {
          if (eachPost != j && pos.equals(markers[j].getPosition())) {
              var newLat = pos.lat() * (Math.random() * 0.0002 + 1);
              var newLng = pos.lng() * (Math.random() * 0.00003 + 1);
              pos = new google.maps.LatLng(newLat, newLng);
          }
        }
        var marker = new google.maps.Marker({
          position: pos,
          map: map,
          icon: image,
          zIndex: 2,
          title: eachPost.link,
          optimized: false      //To allow marker custom in css
        });
        // Apply custom css for marker
        var myoverlay = new google.maps.OverlayView();
        myoverlay.draw = function () {
           this.getPanes().markerLayer.id='markerLayer';
        };
        myoverlay.setMap(map);

        var embed = eachPost.link;

        embed = embed.match(/\/p\/(.*)\//)[1]
        var content = '<iframe class="media" src="https://www.instagram.com/p/' + embed + '/embed/?v=6">' + '</iframe>';
        var infowindow = new google.maps.InfoWindow({
          content: content
        });

        // Click event on Instagram Image
        google.maps.event.addListener(
            marker, 'click',
            function() {
              infowindow.open(map,marker);
              map.setZoom(16);
              map.setCenter(pos);
        });

        google.maps.event.addListener(infowindow,'closeclick',function(){
              map.setZoom(2);
              map.setCenter({lat: lat - 10, lng: lng});
        });
        google.maps.event.addListener(map, 'click', function() {
              infowindow.close();
        });
        markers.push(marker);
      });
    }

  });
});