<div>
  <div id="map" style='width: 1200px; height:800px;position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);'></div>
<!-- <!--  --><div id="map" style="position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);">
 --><!--  width: 1200px; height: 800px; overflow:hidden; -->