body, html{
  padding: none;
  margin: none;
}
/*//// MAP MAIN VIEW ////*/

#main {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: fixed;
  top: 51px;
}

/*//// RIGHT SIDEBAR ////*/

.left-sidebar {
  left: 0;
  width: 15%;
}


/*//// RIGHT SIDEBAR ////*/

.right-sidebar {
  right: 0;
  width: 15%;
  padding: 0;
}

/*//// SIDEBARS GENERAL ////*/

.sidebar {
  position: fixed;
  top: 50px;
  height: 100vh;
  padding: none;
}

.well {
  padding: 0px !important;
}

.sidebar-element {
  width: 100%;
  text-align: center;
}

#info {
  text-align: center;
  margin: 0 auto;
  margin-top: 150px
}

#markerLayer {
  background: pink;
}

div.gmnoprint {
  opacity: 0 !important;
}

#markerLayer img {
  border: 2px solid #333 !important;
  width: 85% !important;
  height: 85% !important;
  border-radius: 100%;
/*  -webkit-animation-name: blinker;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;*/
}


/*@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}*/

#search {
  padding: none;
}

.radio-search {
  margin-top: 100px;
  height: 30px;
  text-align: center;
}

.search-1 {
  width: 100%;
  position: relative;
}

.right-sidebar input, .right-sidebar button {
  height: 50px;
}

.list-item {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 9px;
}

.page-header {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.display-inline {
  display: inline-block;
}

/*//// display div post ////*/


#Embed {
  text-align:center;
  width:320px;
  z-index:1001;
  min-height: 300px;
  position: absolute;
}

#results-content {
  margin-top: 5em;
  text-align: center;
}

.close {
  color: blue;
  font-size: 120px;
  font-weight: bold;
  line-height: 18px;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
  position: absolute;
  top: 12px;
  right: 20px;
  background-color: white;
}
.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}


.info {
  text-align: center;
  margin: 0 auto;
  margin-top: 80px;
}

canvas {
  margin: 0 auto;
  position: absolute;
  right: 10%;
  bottom: 10%;
}

#exit {
  color: red;
  border: 5px solid red;
}

 .modal-header-warning {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #f0ad4e;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}


.photo-result {
  width: 500px;
  height: 500px;
  overflow: hidden;
}


.media {
  min-height: 380px;
  min-width: 300px;
}

.gm-style-iw {
  width: 310px !important;
  left: 18px !important;

}

.centered {
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;

}

.gmnoprint {
  opacity: 0;
}
