<div class="overlay -left">
  <div class="content">

    <h2 class="info">info page</h2>
    <a class="close"><h1>X</h1></a>

    <div class="chartholder">
      <canvas id="chart" width="1000" height="400"></canvas>
    </div>

  </div>
</div>