<div class="overlay -left">
  <div class="content">

    <h4 class="info">Advanced Information</h4>
    <p class="centered">Each point represents the amount of likes on a photo and the time it was posted <br>More cool features and information will be added soon!</p>
    <a class="close">&times;</a>

    <div id="chartholder" class="chartholder">
      <canvas id="chart" width="1000" height="400"></canvas>
    </div>

  </div>
</div>