<div class="col-md-3">
  <div class="well sidebar-nav left-sidebar sidebar">
    <ul class="nav nav-list sidebar-element">
    <li class="nav-header sidebar-element"></li>
    <li><%= link_to "Link1", "#"  %></li>
    <li><%= link_to "Link2", "#"  %></li>
    <li><%= link_to "Link3", "#"  %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->