<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Social View</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a id="left" href="#">Advanced Info <span class="sr-only">(current)</span></a></li>
        <li class="active"><a id="right" href="#">(Results Page)<span class="sr-only">(current)</span></a></li>
      </ul>
<<<<<<< HEAD
      <div class="btn-group btn" role="group" aria-label="...">
        <button type="button" class="btn btn-default">5 Km</button>
        <button type="button" class="btn btn-default">Tag</button>
        <button type="button" class="btn btn-default">User</button>
      </div>
=======
        <button id="main-search" type="submit" class="btn btn-default">Submit</button>
        <div id="search-type" class="btn-group btn" role="group" aria-label="...">
          <button type="button" class="btn btn-default">Tag</button>
          <button type="button" class="btn btn-default">User</button>
          <button type="button" class="btn btn-default">Location</button>
        </div>
>>>>>>> 11c0e229546454e7e7e2ad982d55c05e81fd481f
      <form class="navbar-form navbar-left" role="search">

        <div class="form-group">
          <input id="stagName" type="text" class="form-control" placeholder="Search">
        </div>
    </form>






    


<!--       <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input id="sTagName" type="text" class="form-control" placeholder="Search">
        </div>
        <button id="search" type="submit" class="btn btn-default">Submit</button>
      </form> -->

    


      <ul class="nav navbar-nav navbar-right">
<<<<<<< HEAD
        <li class="active"><a href="#" id="signup" >Sign Up</a></li>
        <li class="active"><a href="#" id="login" >Log In</a></li>
=======
        <ul class="nav navbar-nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">City Search <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">Current Location</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Sydney</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Melbourne</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Brisbane</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Adelaide</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Darwin</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Canberra</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Hobart</a></li>
    </ul>
  </li>
</ul>
        <li><a href="#" id="signup" >Sign Up</a></li>
        <li><a href="#" id="login" >Log In</a></li>
>>>>>>> 11c0e229546454e7e7e2ad982d55c05e81fd481f
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>