<nav class="navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Social View</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a id="left" href="#">Advanced Info <span class="sr-only">(current)</span></a></li>
        <li class="active"><a id="right" href="#">Results<span class="sr-only">(current)</span></a></li>
      </ul>
        <div id="search-type" class="btn-group btn" role="group" aria-label="...">
          <button type="button" id="search-by-tag" class="btn btn-default">Tag</button>
          <button type="button" id="search-by-user" class="btn btn-default">User</button>
          <button type="button" id= "search-by-location" class="controls btn btn-default">Location</button>
        </div>
      <form class="navbar-form navbar-left" role="search" id="search-bar">
        <div class="form-group">
          <input id="searchValue" type="text" class="form-control" placeholder="Search">
          <button id="main-search" type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
      <div class="btn-group">
        <li class="dropdown"></li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">City Search <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Current Location</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Sydney</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Melbourne</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Brisbane</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Adelaide</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Darwin</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Canberra</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Hobart</a></li>
        </ul>
        </div>


      <div id="search-site" class="btn-group btn" role="group" aria-label="...">
          <button type="button" id="search-by-instagram" class="btn btn-default">Instagram</button>
          <button type="button" id="search-by-twitter" class="btn btn-default">Twitter</button>
        </div>

    <ul class="nav navbar-nav navbar-right">

        <li><a href="#" id="signup" >Sign Up</a></li>
        <li><a href="#" id="login" >Log In</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>