<div class="overlay -right">
  <div class="content"id="results-content">
    <h4>Search Result <br><small></small></h4>
    <div class="photo-result" id="results">
    </div>
          <!-- <h4>Recent Searches <br><small></small></h4>
        <ul class="list-group">
          <li class=""><a href="#">Recent search 1</a></li>
          <li class=""><a href="#">Recent search 2</a></li>
          <li class=""><a href="#">Recent search 3</a></li>
        </ul> -->
    <a class="close">Close</a>
  </div>
</div>
<div class="bg"></div>