<div class="overlay -right">
  <div class="content">
    <h4>Recent Searches <br><small></small></h4>
    <div class="results">
      <ul>
        <li>Tag 1</li>
        <li>Tag 2 etc etc...</li>
      </ul>
    </div>
    <div class="">
        <div class="">
          <h4>Recent Searches <br><small></small></h4>
        </div>
        <ul class="list-group">
          <li class=""><a href="#">Recent search 1</a></li>
          <li class=""><a href="#">Recent search 2</a></li>
          <li class=""><a href="#">Recent search 3</a></li>
        </ul>
      </div>
    <a class="close">Close</a>
  </div>
</div>
<div class="bg"></div>