<div class="overlay -right">
  <div class="content" id="results-content">
    <h4 class="info">Search Results</h4>
    <p class="centered">Results for the search you entered appear here!<br>Unfortunately, not all results have a geo tag, so you can view the ones that dont on this page also!</p>
    <a class="close">&times;</a>
    <div class="photo-result" id="results">
    </div>
  </div>
</div>
<div class="bg"></div>