<div class="col-md-3">
  <div class="well right-sidebar sidebar">
    <form class="search sidebar-element" role="search" id="search">
      <input type="text" class="sidebar-element" placeholder="Search" id="search-result">
      <button type="submit" class="sidebar-element" id="search-button">Submit</button>
    </form>
    <ul class="nav nav-list sidebar-element">
    <li class="nav-header sidebar-element"></li>
    <li><%= link_to "Link1", "#"  %></li>
    <li><%= link_to "Link2", "#"  %></li>
    <li><%= link_to "Link3", "#"  %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->

