<div class="col-md-3">
  <div class="well right-sidebar sidebar">
    <form class="search sidebar-element" role="search" id="search">
      <input type="text" class="sidebar-element" placeholder="Search" id="search-result">
      <button type="submit" class="sidebar-element" id="search-button">Submit</button>
    </form>
    <div class="btn-group-vertical sidebar-element" role="group" aria-label="...">
      <button type="button" class="btn btn-default">5km</button>
      <button type="button" class="btn btn-default">Tag</button>
      <button type="button" class="btn btn-default">User</button>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          City
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu sidebar-element list-item">
          <li class="list-item"><a href="#">Sydney</a></li>
          <li class="list-item"><a href="#">Melbourne</a></li>
          <li class="list-item"><a href="#">Brisbane</a></li>
          <li class="list-item"><a href="#">Adelaide</a></li>
          <li class="list-item"><a href="#">Perth</a></li>
          <li class="list-item"><a href="#">Darwin</a></li>
          <li class="list-item"><a href="#">Canberra</a></li>
          <li class="list-item"><a href="#">Hobart</a></li>
        </ul>
      </div>
      <div class="history">
        <div class="page-header">
          <h4>Recent Searches <br><small></small></h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item"><a href="#">Recent search 1</a></li>
          <li class="list-group-item"><a href="#">Recent search 2</a></li>
          <li class="list-group-item"><a href="#">Recent search 3</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

