<div class="overlay-top">
  <div class="content">
    <form class="display-inline navbar-form navbar" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button id="main-search" type="submit" class="btn btn-default">Submit</button>
      <div id="search-type" class="btn-group btn" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Tag</button>
        <button type="button" class="btn btn-default">User</button>
        <button type="button" class="btn btn-default">Location</button>
      </div>
    </form>
    <form class="display-inline navbar-form navbar" role="search">
      <div id="search-location" class="btn-group btn" role="group" aria-label="..." >
        <button type="button" class="btn btn-default">Current Location</button>
        <button type="button" class="btn btn-default">Sydney</button>
        <button type="button" class="btn btn-default">Melbourne</button>
        <button type="button" class="btn btn-default">Brisbane</button>
        <button type="button" class="btn btn-default">Adelaide</button>
        <button type="button" class="btn btn-default">Perth</button>
        <button type="button" class="btn btn-default">Darwin</button>
        <button type="button" class="btn btn-default">Canberra</button>
        <button type="button" class="btn btn-default">Hobart</button>
      </div>
    </form>
    <a class="close">Close</a>
  </div>
</div>